@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }

  .pulse-hover:hover {
    animation: pulse 0.3s ease-in-out;
  }
  @keyframes matrixFall {
    0% { opacity: 1; transform: translateY(-100%); }
    100% { opacity: 0; transform: translateY(100%); }
  }

  .matrix-drop {
    position: absolute;
    top: 0;
    font-size: 18px;
    color: limegreen;
    opacity: 0.7;
    font-family: monospace;
  }
}
