@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); } /* Slight zoom for a subtle effect */
    100% { transform: scale(1); }
  }

  .pulse-hover:hover {
    animation: pulse 0.3s ease-in-out;
  }
}
